<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button>
      <ion-icon name="search"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button>
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
  </ion-buttons>


  <ion-title class="ion-text-center"><app-logo width="130px"></app-logo></ion-title>
</ion-toolbar>

<ion-content class="ion-text-center">
  
  <swiper [config]="configs" class="img">
    <ng-template  *ngFor="let m of mainImages" swiperSlide> <img  [src]="m"></ng-template>
   
  </swiper>

  
  <ion-segment [(ngModel)]="segment">
    
    <ion-segment-button value="albums">
      <ion-label>Albums</ion-label>
    </ion-segment-button>
    <ion-segment-button value="fill">
      <ion-label>News</ion-label>
    </ion-segment-button>
    <ion-segment-button value="artist">
      <ion-label>Artists</ion-label>
    </ion-segment-button>
    <ion-segment-button value="none">
      <ion-label>Podcasts</ion-label>
    </ion-segment-button>
  </ion-segment>


  <app-spotify-slider *ngIf="segment == 'albums'"  [slides]="artist().albums"></app-spotify-slider>

  

  <ion-list>

    <div class="ion-text-left"> <strong>Songs</strong> </div>
    <div class="ion-text-right"> See More</div>

    <ion-item routerLink="/main/home/artist-detail">
      <ion-button>
        <ion-icon slot="start" name="play"></ion-icon>
      </ion-button>
      <ion-label>
        <strong>As It Was</strong>
        <p>Harry Styles</p>
      </ion-label>
      <ion-icon slot="end" name="heart-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-button>
        <ion-icon slot="start" name="play"></ion-icon>
      </ion-button>
      <ion-label>
        <strong>God Did</strong>
        <p>Dj Khaled</p>
      </ion-label>
      <ion-icon slot="end" name="heart-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-button>
        <ion-icon slot="start" name="play"></ion-icon>
      </ion-button>
      <ion-label>
        <strong>Dont Smile At Me</strong>
        <p>Bilie Eilish</p>
      </ion-label>
      <ion-icon slot="end" name="heart-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-button>
        <ion-icon slot="start" name="play"></ion-icon>
      </ion-button>
      <ion-label>
        <strong>Dont Smile At Me</strong>
        <p>Bilie Eilish</p>
      </ion-label>
      <ion-icon slot="end" name="heart-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-button>
        <ion-icon slot="start" name="play"></ion-icon>
      </ion-button>
      <ion-label>
        <strong>Dont Smile At Me</strong>
        <p>Bilie Eilish</p>
      </ion-label>
      <ion-icon slot="end" name="heart-outline"></ion-icon>
    </ion-item>
  </ion-list>


  <!-- <div *ngFor="let entry of data; let isFirst=
    first" (window:resize)="resizeSlider($event)">
    <swiper class="swiper-p" [config]="config">
      <ng-template class="ion-text-center" *ngFor="let album of entry.albums"
        swiperSlide>

        <ion-card routerLink="/main/home/album-detail/{{album.title}}">
          <img [src]="'/assets/images/albums/'+dasherize(album.image)+'.jpg'">
          <span class="title">{{ album.title }}</span>
        </ion-card> -->
  <!-- <div style="width: 100%;"> 
          <img style="width: 100%;" [src]="'/assets/images/albums/'+dasherize(album.image)+'.jpg'">
          <div class="centrado">
           <h6>{{ album.title }}</h6> 
          </div>
        </div> -->
  <!-- </ng-template>
    </swiper>
  </div> -->



</ion-content>