<ion-content class="ion-text-center">

  <app-logo></app-logo>




  <div class="wrapper">


    <div>
      <ion-button class="btn-rounded" shape="round">
        <ion-icon name="moon-outline"></ion-icon>
      </ion-button>
      <h5>Dark</h5>
    </div>




    <div> <ion-button class="btn-rounded" shape="round">
        <ion-icon name="sunny-outline"></ion-icon>
      </ion-button>
      <h5>Light</h5>
    </div>
 


     

  </div>
<button routerLink="/main/home" routerLinkActive="router-link-active"
        class="button-19" role="button">Continue</button>
</ion-content>
