<ion-content class="ion-text-center">

 <app-logo></app-logo>


  <div class="wrapper">

    <div>

      <h1><strong>Enjoy Listening To Music</strong></h1>
      <h4>Spotify is a digital music, podcast and video service that gives you
        access to millions of songs and other content from creators all over the
        world.
      </h4>

 


    </div>

  

  </div>

  <div>
    <button routerLink="/main/home" routerLinkActive="router-link-active"
      class="button-19" role="button">Get Started</button>
  </div>


</ion-content>
